<div class="col-lg-12">
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Статус</th>
      <th>Отправитель</th>
      <th>Получатель</th>
      <th>Исполнитель</th>
      <th>Продукт</th>
      <th>Код</th>
    </tr>
    </thead>
    <tbody>
    <% @orders.each do |order| %>
        <tr>
          <th scope="row"><%= order.id %></th>
          <td><%= order.status_hash[:name] %></td>
          <td>
            <span><%= order.sender['name'] %></span><br>
            <span><%= order.sender['phone'] %></span>
          </td>
          <td>
            <span><%= order.receiver['name'] %></span><br>
            <span><%= order.receiver['phone'] %></span>
          </td>
          <td>
            <span><%= order.user.name %></span><br>
            <span><%= order.address.value %></span>
          </td>
          <td><%= order.product.name %></td>
          <td><%= order.code %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
