
<% if current_user == @order.user %>
  <div class="row">
    <div class="col-lg-12">
      <div class="alert alert-<%= @order.status_hash[:class] %>" role="alert">
        <strong>Статус:</strong> <%= @order.status_hash[:name] %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p><b>Телефон получателя</b></p>
      <p><%= @order.receiver['phone'] %></p>
      <p><b>Имя получателя</b></p>
      <p><%= @order.receiver['name'] %></p>
      <p><b>Наименование исполнителя</b></p>
      <p><%= @order.user.name %></p>
      <p><b>Адрес исполнителя</b></p>
      <p><%= @order.address.value %></p>
      <p><b>Продукт</b></p>
      <p><%= @order.product.name %></p>
    </div>
  </div>
<% else %>
  <div class="jumbotron">
    <h1 class="text-center"><%= @order.code %></h1>
  </div>
<% end %>
